{
    "check-requirements": false,
    "compactors": [
        "KevinGH\\Box\\Compactor\\Php"
    ],
    "dump-autoload": false,
    "files-bin": [
        "LICENSE.md",
        "manifest.xml"
    ],
    "finder": [
        {
            "in": "bin"
        },
        {
            "in": "src"
        },
        {
            "name": "*.php",
            "in": "vendor"
        },
        {
            "in": "vendor/symfony/console/Resources"
        }
    ],
   "output": "churn.phar"
}
